  {{!
      This file is part of Moodle - http://moodle.org/
      Moodle is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
      Moodle is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
      You should have received a copy of the GNU General Public License
      along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
  {{!
   @template mod_proctoring/proctoring_pro_promo

    Plugin name: quizaccess_proctoring
    This template is used to display the Proctoring Pro promo page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * proctoring_gif
    * proctoring_pro_gif
    * elearninglogo
    * moodlepartnerlogo
    * successsign
    * crossign

      Example context (json):
      {
          "{proctoring_gif}": "pix/proctoring-free.gif",
          "proctoring_pro_gif": "pix/proctoring-pro.gif",
          "elearninglogo" : "pix/cropped-e-Learning-23-logo-1",
          "moodlepartnerlogo" : "pix/moodleheader-logo.png",
          "successsign" : "successsign.gif"
          "crossign" : "crossign.gif"
      }
  }}

<!--Proctoring Pro Promo Banner-->
<div class="jumbotron" id="proctoring-promobanner" ></div>

<!--Container-->
<div class="container mt-5">
   <div class="container mt-5 p-5">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="font-weight-bolder ">
                {{#str}}proctoring_pro_promo:header,quizaccess_proctoring{{/str}}
            </h2>
            <h4>{{#str}}proctoring_pro_promo:subheader,quizaccess_proctoring{{/str}}</h4>
            <h4 id="proctoring-contact" class="mt-4  text-info ">
                <strong>{{#str}}proctoring_pro_promo:mail,quizaccess_proctoring{{/str}}</strong> 
                <a href="mailto:elearning@brainstation-23.com" class="text-decoration-none text-info">
                    elearning@brainstation-23.com
                </a>!
            </h4>
        </div>
    </div>

    <!-- Logos Section -->
    <div class="row mt-5 align-items-center justify-content-between">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <img src="{{elearninglogo}}" alt="eLearning Logo"  class="w-100 h-100 img-fluid">
        </div>
        <div class="col-12 col-md-6 ">
            <img src="{{moodlepartnerlogo}}" class="w-50 h-100 img-fluid" alt="Moodle Logo">
        </div>
    </div>
</div>

    <div class="row mt-3">
        <div class="col-md-12 text-center mt-5 mb-3">
            <h2><b>{{#str}}proctoring_pro_promo:feature,quizaccess_proctoring {{/str}}</b></h2>
           
        </div> 

        <div class="col-md mb-3">
        <!--Accordion-->
            <div class="accordion" id="accordionExample">
              <div class="card m-3">
               <div class="card-header" id="proctoring-headingOne" >
               <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                 <h2 class="mb-0">
                  <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h3 class="text-dark">
                  <i class="fa fa-camera-retro"></i>
                  <span class="ml-2">{{#str}}proctoring_pro_promo:webcam,quizaccess_proctoring{{/str}}</span>
                  </h3>
                  </button>
                 </h2>
                 </div>
                </div>
                <div class="col-4"></div>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="proctoring-headingOne" data-parent="#accordionExample">
              <div class="card-body text-center"> 
               <ol class="proctoring-promo-featureList">
                <li>{{#str}}proctoring_pro_promo:webcamlist1,quizaccess_proctoring{{/str}}</li>
                <li>{{#str}}proctoring_pro_promo:webcamlist2,quizaccess_proctoring{{/str}}</li>
               </ol>
              </div>
             </div>
            </div>

              <div class="card m-3">
               <div class="card-header" id="proctoring-headingTwo" >
               <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                 <h2 class="mb-0">
                  <button class="btn btn-block " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3 class="text-dark">
                  <i class="fa fa-bullseye" aria-hidden="true"></i> 
                  <span class="ml-2">{{#str}}proctoring_pro_promo:tabmonitoring,quizaccess_proctoring{{/str}}</span>
                  </h3>
                  </button>
                 </h2>
                </div>
                <div class="col-3"></div>
               </div>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="proctoring-headingTwo" data-parent="#accordionExample">
              <div class="card-body text-center"> 
               <ol class="proctoring-promo-featureList">
                <li>{{#str}}proctoring_pro_promo:tabmonitoringlist1,quizaccess_proctoring{{/str}}</li>
                <li>{{#str}}proctoring_pro_promo:tabmonitoringlist2,quizaccess_proctoring{{/str}}</li>
               </ol>
              </div>
             </div>
            </div>

              <div class="card m-3">
                <div class="card-header" id="proctoring-headingThree" >
                <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                 <h2 class="mb-0">
                  <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h3 class="text-dark">
                   <i class="fa fa-expand" aria-hidden="true"></i>
                   <span class="ml-2">{{#str}}proctoring_pro_promo:screenmonitoring,quizaccess_proctoring{{/str}}</span>
                  </h3>
                  </button>
                 </h2>
                 </div>
                <div class="col-3"></div>
               </div>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="proctoring-headingThree" data-parent="#accordionExample">
              <div class="card-body text-center"> 
               <ol class="proctoring-promo-featureList">
                <li>{{#str}}proctoring_pro_promo:screenmonitoringlist1,quizaccess_proctoring{{/str}}</li>
                <li>{{#str}}proctoring_pro_promo:screenmonitoringlist2,quizaccess_proctoring{{/str}}</li>
               </ol>
              </div>
             </div>
            </div>

              <div class="card m-3">
                <div class="card-header" id="proctoring-headingFour" >
                <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                 <h2 class="mb-0">
                  <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <h3 class="text-dark">
                   <i class="fa fa-clipboard" aria-hidden="true"></i>
                   <span class="ml-2">{{#str}}proctoring_pro_promo:detectcopypaste,quizaccess_proctoring{{/str}}</span>
                  </h3>
                  </button>
                 </h2>
                 </div>
                <div class="col-3"></div>
               </div>
               </div>
               <div id="collapseFour" class="collapse" aria-labelledby="proctoring-headingFour" data-parent="#accordionExample">
                <div class="card-body text-center"> 
                 <ol  class="proctoring-promo-featureList">
                  <li>{{#str}}proctoring_pro_promo:detectcopypastelist1,quizaccess_proctoring{{/str}}</li>
                  <li>{{#str}}proctoring_pro_promo:detectcopypastelist2,quizaccess_proctoring{{/str}}</li>
                 </ol>
               </div>
             </div>
            </div>

              <div class="card m-3">
                <div class="card-header" id="proctoring-headingFive" >
                <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                 <h2 class="mb-0">
                  <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                   <h3 class="text-dark">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <span class="ml-2">{{#str}}proctoring_pro_promo:suscipiousevent,quizaccess_proctoring{{/str}}</span>
                   </h3>
                  </button>
                 </h2>
                 </div>
                <div class="col-2"></div>
               </div>
               </div>
               <div id="collapseFive" class="collapse" aria-labelledby="proctoring-headingFive" data-parent="#accordionExample">
                <div class="card-body text-center"> 
                 <ol class="proctoring-promo-featureList">
                  <li>{{#str}}proctoring_pro_promo:suscipiouseventlist1,quizaccess_proctoring{{/str}}</li>
                  <li>{{#str}}proctoring_pro_promo:suscipiouseventlist2,quizaccess_proctoring{{/str}}</li>
                 </ol>
               </div>
             </div>
            </div>

            <div class="card m-3">
                <div class="card-header" id="proctoring-headingSix">
                <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                 <h2 class="mb-0">
                  <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                   <h3 class="text-dark">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    <span class="ml-2">{{#str}}proctoring_pro_promo:admin,quizaccess_proctoring{{/str}} </span>
                   </h3>
                  </button>
                 </h2>
                 </div>
                <div class="col-2"></div>
               </div>
               </div>
               <div id="collapseSix" class="collapse" aria-labelledby="proctoring-headingSix" data-parent="#accordionExample">
                <div class="card-body text-center"> 
                 <ol class="proctoring-promo-featureList">
                  <li>{{#str}}proctoring_pro_promo:adminlist1,quizaccess_proctoring{{/str}}</li>
                  <li>{{#str}}proctoring_pro_promo:adminlist2,quizaccess_proctoring{{/str}}</li>
                 </ol>
               </div>
             </div>
            </div>

            <div class="card m-3">
                <div class="card-header" id="proctoring-headingSeven" >
                <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                 <h2 class="mb-0">
                  <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                   <h3 class="text-dark">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="ml-2"> {{#str}}proctoring_pro_promo:email,quizaccess_proctoring{{/str}} </span>
                   </h3>
                  </button>
                 </h2>
                 </div>
                <div class="col-2"></div>
               </div>
               </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                <div class="card-body text-center"> 
                 <ol class="proctoring-promo-featureList">
                  <li>{{#str}}proctoring_pro_promo:emailsupport,quizaccess_proctoring{{/str}}</li>
                  <li>{{#str}}proctoring_pro_promo:emailsupportlist1,quizaccess_proctoring{{/str}}</li>
                 </ol>
               </div>
             </div>
            </div>
          </div>
        </div>      
    </div>
</div>

    <div class="container mt-5">
        <h2 class="text-center mb-4 ">{{#str}}proctoring_pro_promo:profeature,quizaccess_proctoring{{/str}}</h2>
        <div class="row">
            <!-- Feature 1 -->
            <div class="col-md-4 mb-3">
                <div class="card h-100 proctoring-custom-card" id="proctoring-bulkupload">
                    <div class="card-body p-5 text-center">
                        <h5 class="card-title">{{#str}}proctoring_pro_promo:profeaturebulkphotoupload,quizaccess_proctoring{{/str}}  </h5>
                        <p class="card-text">{{#str}}proctoring_pro_promo:profeaturebulkphotouploaddesc,quizaccess_proctoring{{/str}}</p>
                    </div>
                </div>
            </div>
            <!-- Feature 2 -->
            <div class="col-md-4 mb-3 ">
                <div class="card h-100 proctoring-custom-card" id="proctoring-filtering">
                    <div class="card-body p-5 text-center">
                        <h5 class="card-title">{{#str}}proctoring_pro_promo:profeaturehphotofillter,quizaccess_proctoring{{/str}}</h5>
                        <p class="card-text">{{#str}}proctoring_pro_promo:profeaturehphotofillterdesc,quizaccess_proctoring{{/str}}</p>
                    </div>
                </div>
            </div>
            <!-- Feature 3 -->
            <div class="col-md-4 mb-3">
                <div class="card h-100 proctoring-custom-card" id="proctoring-pdfreport">
                    <div class="card-body p-5 text-center">
                        <h5 class="card-title">{{#str}}proctoring_pro_promo:pdfgenerator,quizaccess_proctoring{{/str}}</h5>
                        <p class="card-text">{{#str}}proctoring_pro_promo:pdfgeneratordesc,quizaccess_proctoring{{/str}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="row mt-5 p-5">
  <div class="col"></div>
        <div class="col-5 text-center">
            <div class="card prcotoringFree-feature"  >
             <h3 class="card-title pt-5"><b>{{#str}}proctoring_pro_promo:namefree,quizaccess_proctoring{{/str}}</b></h3>
             <div class="card-body">
              <img src="{{proctoring_gif}}" class="card-img-top p-5 border-dark" alt="...">
    
             </div>
            <div class="card-body text-left ml-5"> 
            <ul class="list-unstyled" class="proctoring-videoFeature">
              <li class="mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist1,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist2,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>{{#str}}proctoring_pro_promo:featurelist3,quizaccess_proctoring{{/str}}
                <span></span>
              </li>
              <li class=" mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist4,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist5,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
                <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist6,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist7,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist8,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
            <span class="text-danger me-2 fs-4">
                  <img src="{{crossign}}" alt="crossSign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist9,quizaccess_proctoring{{/str}}</span>
              </li>
             </ul>
            </div>
          </div>
        </div>
        
        <div class="col-5 text-center">
           <div class="card proctoringPro-feature" >
            <h3 class="card-title pt-5"><b>{{#str}}proctoring_pro_promo:namepro,quizaccess_proctoring{{/str}}</b></h3>
            <div class="card-body">
             <img src="{{proctoring_pro_gif}}" class="card-img-top p-5 border-dark" alt="...">
  
            </div>
  
            <div class="card-body text-left ml-5"> 
            <ul class="list-unstyled" class="proctoring-videoFeature">
              <li class="mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist1,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
              <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                 
                <span>{{#str}}proctoring_pro_promo:featurelist2,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist3,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist4,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist5,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist6,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class="mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist7,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist8,quizaccess_proctoring{{/str}}</span>
              </li>
              <li class=" mb-3">
                 <span class="text-success me-2 fs-4">
                  <img src="{{successsign}}" alt="Success Sign" class="proctoring-sign">
                </span>
                <span>{{#str}}proctoring_pro_promo:featurelist9,quizaccess_proctoring{{/str}}</span>
              </li>
            </ul>
           </div>
         </div>
        </div>
        <div class="col"></div>
    </div>

  <div class="row mt-5">
    <div class="col-md text-center">
        <a href="https://elearning23.com/moodle-proctoring-pro-details/" class="btn btn-outline-primary btn-lg" target="_blank">{{#str}}proctoring_pro_promo:learnmore,quizaccess_proctoring{{/str}}</a>
    </div>
</div>