<div id="main" >
    <h2>{{quizname}}</h2>
    <br/>
    <div class="mb-3">
       <button type="button" class="btn btn-primary" id ="backbutton" >Back</button>
    </div>
    <div style="float: left;">
        <form action="{{url}}">
            <input type="hidden" id="courseid" name="courseid" value="{{courseid}}">
            <input type="hidden" id="cmid" name="cmid" value="{{cmid}}">
            <div class="container-fluid">
                <div class="row">
                    <div class="w-50 mr-1">
                        <input type="text"
                               class="form-control mb-2"
                               id="searchKey"
                               name="searchKey"
                               placeholder="Search by email"
                               value="{{searchkey}}">
                    </div>
                    <div class="mr-1">
                        <input type="submit" class="btn btn-primary mb-2" name="submitType" value="Search">
                    </div>
                    {{#showclearbutton}}
                    <div>
                        <input type="submit" class="btn btn-secondary mb-2" name="submitType" value="Clear">
                    </div>
                    {{/showclearbutton}}
                </div>
            </div>
        </form>
    </div>

    <div class="text-xs-left text-md-right mb-3">
        {{#settingsbtn}}
        <a class="btn btn-primary" href="{{settingspageurl}}">Proctoring Summary Report</a>
        {{/settingsbtn}}
    </div>

    <div class="box generalbox adminerror alert alert-info p-y-1">
        {{proctoringsummary}}
    </div>

    <br/>
    
</div>
