{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template quizaccess_proctoring/users_list
    Example context (json):
    {
        'users' => array_values($users),
        'redirecturl' => new moodle_url('/mod/quiz/accessrule/proctoring/upload_image.php'),
        'settingsurl' => new moodle_url('/admin/settings.php?section=modsettingsquizcatproctoring'),
        'searchvalue' => $search,
        'action' => new moodle_url('/mod/quiz/accessrule/proctoring/userslist.php'),
        'btnclass' => "btn-primary",
        'inputname' => "search",
        'searchstring' => "Search user",
        'proctoringpro' => $proctoringpro,
        'proctoringprogif' => $proctoringprogif,
        'direction' => true/false
        'pagination' => $pagination,
        'perpage' => $perpage,
         
    }
}}



<!-- Search Box and Button Row -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Search Box -->
    <div class="search-box ml-1">
        {{> core/search_input }}
    </div>
</div>
